<div class="header">
  <app-principal
    [title]="'Alterar Senha'"
  ></app-principal>
  <app-navigation></app-navigation>
</div>

<div class="topPrincipal"></div>

<mat-card style="margin-left: 15px; margin-right: 15px">

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Usuário" [(ngModel)]="username" disabled>
    <mat-icon matSuffix>person</mat-icon>
  </mat-form-field>

  <p class="example-full-width">* A senha deve conter no mínimo 6 caracteres, 1 letra maíuscula e 1 caracter especial.</p>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nova Senha" [type]="hide1 ? 'password' : 'text'" [(ngModel)]="password" required>
    <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="isInvalid()">Nova senha é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Confirme Nova Senha" [type]="hide2 ? 'password' : 'text'" [(ngModel)]="password2" required>
    <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="isInvalid()">Confirme nova senha é obrigatório</mat-error>
  </mat-form-field>

  <div style="text-align: right">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="isInvalid(pass) || isInvalid(pass2)">Salvar</button>    
  </div>

</mat-card>