<mat-toolbar color="primary">
    <table style="width: 100%; text-align: center; color: white">
        <tr>
            <td>
                <button mat-icon-button type="button" (click)="onHome()" matTooltip="Portal">
                    <mat-icon>home</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button type="button" (click)="onChangePassword()" matTooltip="Alterar Senha">
                    <mat-icon>vpn_key</mat-icon>
                </button>
            </td>
            <td>
                <button mat-icon-button type="button" (click)="onUser()" matTooltip="Perfil do Usuário">
                    <mat-icon>person</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</mat-toolbar>
