.example-full-width {
    width: 100%;
}

.forgot, .forgot:active, .forgot:hover, .forgot:visited {
    font-size: 12px;
    color: #003569;
    text-decoration: none;
}

.box-forgot {
    text-align: center;
    margin-top: 20px;
}

.box-button {
    margin-top: 20px;
}